

.mainpage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.maincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 191, 191);
    padding: 70px 70px;
    gap: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.mainform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
input{
    padding: 10px 10px;
    border-radius: 5px;
    width: 300px;
}
